.footer {
  background-color: #13001b;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #FF00B8;
  margin-top: 5px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer img {
  width: 16px;
}